<br>
<div class="container p-1">
	<br>

	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2>Gestion <b>des projet</b></h2>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-success float-right mt-n1" routerLink="../addProjet" data-toggle="modal"><i
						class="mdi mdi-plus-circle"></i> Ajouter un chef de projet</a>
			</div>
		</div>
	</div>


	<div class="row">
		<div *ngFor="let t of projets" class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">


						<div class="dropdown show">
							<a href="#" data-toggle="dropdown" data-display="static">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
									<circle cx="12" cy="12" r="1"></circle>
									<circle cx="19" cy="12" r="1"></circle>
									<circle cx="5" cy="12" r="1"></circle>
								</svg>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" [routerLink]="['/updateProjet',t.id]"><i
										class="mdi mdi-pencil me-1"></i>Modifier</a>
								<a class="dropdown-item" href="#"><i class="mdi mdi-account-hard-hat "></i>Affecter</a>
								<a class="dropdown-item" (click)="deletProjet(t.id)"><i
										class="mdi mdi-delete me-1"></i>Supprimer</a>
							</div>
						</div>
					</div>
					<h3 class="card-title mb-0">{{t.nom}}</h3>
					<div class="badge bg-success my-2">Finished</div>
				</div>
				<p class="mb-1 pe-2 text-nowrap mb-2 d-inline-block">
					<span>
						<i class="mdi mdi-calendar-range text-muted"></i>
						{{t.start_date | date: 'dd-MM-yyyy'}}
					</span>
				</p>
				<P *ngIf="t.end_date" class="mb-1 pe-2 text-nowrap mb-2 d-inline-block">

					<i class="mdi mdi-calendar-check text-muted"></i>
					{{t.end_date }}

				</P>

				<div class="card-body px-4 pt-2">
					<p class="card-text">{{t.description}} </p>

					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
						alt="Avatar" width="28" height="28">{{t.chefProjetId}}


				</div>