
<div class="row">
    <div class="col text-center mb-5">
       <h1 class="display-4">List des Etages</h1>
<p class="lead">Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas pulvinar. </p>
    </div>
  </div>
<div class="container mt-5 mb-3">

    <div class="row">
        <div *ngFor="let t of etages ;let i=index;" class="col-md-4">
            <div class="card p-3 mb-2" >
                <div *ngIf="plans[i]" >
                <img [src]="plans[i].imageUrl" class="card-img-top" alt="Image du plan"  data-toggle="modal" data-target=".bd-example-modal-lg" >
                            <!-- show image in Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <img [src]="plans[i].imageUrl" class="card-img-top" alt="Image du plan" >
        </div>
  </div>
</div>

            </div>

            <div *ngIf="!plans[i]" >
                <img src="../../../assets/plan1.png" width="382" height="270" class="card-img-top" alt="Image d'ajout du plan" >
                <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-warning" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                      <h4 class="modal-title white-text w-100 font-weight-bold py-2">Insérer l'image du plan </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                    </div>
              
                    <!--Body-->
                    <div class="modal-body">
                        <label data-error="wrong" data-success="right" for="form3">Image du plan</label>
                     <input type="file" id="form3" class="form-control" (change)="selectImage($event)">
                      </div>
            
              
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                      <button type="submit" class="btn btn-primary " (click)="onSubmit(t.id)">Ajouter </button>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
              </div>
        
              
            </div>

                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">

                            <h3 class="card-title mb-0"> ETAGE {{t.numero}}</h3> 
					
                        </div>
                        
                    </div>

                </div>
                <div class="mt-5">
					<p class="card-text">{{t.description}}
                    </p>
	     
					
                </div>
                <button *ngIf="!plans[i]" type="button" class="btn btn-primary " data-toggle="modal" data-target="#orangeModalSubscription">Insérer l'image du plan </button>

		
            </div>
        </div>
       
    </div>
</div>
<br>
