.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #37474F;
  color: #fff;
  overflow-y: auto;
  width: 240px;
  padding: 20px;
  transition: all 0.3s;
  background: #435d7d;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.components {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.components li {
  margin-bottom: 10px;
}

.components a {
  display: block;
  text-decoration: none;

  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.components a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.components a i {
  margin-right: 10px;
}

.components .active {
  background: rgba(255, 255, 255, 0.1);
}